@font-face {
  font-family: 'Lato', sans-serif;
  src: url("fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato', sans-serif;
  src: url("fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato', sans-serif;
  src: url("fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul,
li {
  list-style: none; }

a {
  color: #000000;
  text-decoration: none; }

body {
  width: 100%;
  height: 100%;
  color: #363636;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  line-height: 16px; }

header {
  width: 100%;
  position: relative;
  background-color: #e8ebf1;
  -webkit-box-shadow: 0 0 5px 0 #2aacc8;
          box-shadow: 0 0 5px 0 #2aacc8; }

.center {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px; }

.main-nav {
  padding: 55px 0; }
  .main-nav .logo {
    display: block;
    float: left; }
    .main-nav .logo span {
      font-weight: 600;
      font-size: 50px;
      color: #000000; }
    .main-nav .logo .blue {
      color: #2aacc8;
      font-weight: normal; }
  .main-nav .nav-list {
    float: right; }
    .main-nav .nav-list .nav-item {
      display: inline-block; }
      .main-nav .nav-list .nav-item:not(:last-child) {
        margin-right: 20px; }
      .main-nav .nav-list .nav-item .nav-link {
        padding: 10px 15px;
        color: #000000;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 900; }
        .main-nav .nav-list .nav-item .nav-link:hover {
          color: #2aacc8; }
        .main-nav .nav-list .nav-item .nav-link .fa-angle-down {
          margin-left: 10px; }
      .main-nav .nav-list .nav-item .active-link:hover {
        color: #2aacc8;
        background-color: #ffffff;
        border-top: 5px solid #2aacc8; }
    .main-nav .nav-list .active {
      position: relative; }
      .main-nav .nav-list .active:hover .submenu-list {
        display: block; }
      .main-nav .nav-list .active .submenu-list {
        display: none;
        position: absolute;
        top: 26px;
        z-index: 2;
        min-width: 200px;
        padding: 20px 5px;
        background-color: #ffffff;
        border-bottom: 5px solid #2aacc8; }
        .main-nav .nav-list .active .submenu-list .submenu-item {
          padding: 13px 0; }
          .main-nav .nav-list .active .submenu-list .submenu-item:not(:last-child) {
            border-bottom: 1px solid #e8ebf1; }
          .main-nav .nav-list .active .submenu-list .submenu-item .submenu-link {
            display: block;
            padding: 0 20px;
            font-size: 16px; }
            .main-nav .nav-list .active .submenu-list .submenu-item .submenu-link:hover {
              color: #2aacc8; }

.slider {
  width: 100%;
  padding: 20px 0;
  background-color: #81e4ed; }
  .slider .slider-inner .slider-slides .slider-block {
    position: relative;
    height: 440px;
    background-image: url("../../img/bgc-slider.png");
    background-repeat: no-repeat;
    background-size: cover; }
    .slider .slider-inner .slider-slides .slider-block::after {
      position: absolute;
      top: 0;
      left: 420px;
      content: ' ';
      width: 211px;
      height: 410px;
      background-image: url("../../img/coffee.png"); }
    .slider .slider-inner .slider-slides .slider-block .slider-slogan {
      position: absolute;
      top: 105px;
      left: 60px;
      width: 370px;
      padding-right: 77px;
      color: #ffffff;
      line-height: 55px;
      font-size: 50px;
      font-weight: bold; }

.advantages {
  width: 100%;
  padding: 60px 0;
  background-color: #e8ebf1; }
  .advantages .advantages-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .advantages .advantages-list .advantages-item {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .advantages .advantages-list .advantages-item .advantages-headline-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 20px; }
        .advantages .advantages-list .advantages-item .advantages-headline-block .headline-icon {
          height: 40px;
          width: 40px;
          margin-right: 20px;
          background-color: #2aacc8;
          border-radius: 20px; }
        .advantages .advantages-list .advantages-item .advantages-headline-block .icon-pen,
        .advantages .advantages-list .advantages-item .advantages-headline-block .icon-frame,
        .advantages .advantages-list .advantages-item .advantages-headline-block .icon-line,
        .advantages .advantages-list .advantages-item .advantages-headline-block .icon-air {
          position: relative; }
        .advantages .advantages-list .advantages-item .advantages-headline-block .icon-pen::after {
          position: absolute;
          top: 8px;
          left: 10px;
          content: ' ';
          width: 21px;
          height: 24px;
          background-image: url("../../img/icon-pen.png");
          background-repeat: no-repeat;
          background-size: cover; }
        .advantages .advantages-list .advantages-item .advantages-headline-block .icon-frame::after {
          position: absolute;
          top: 12px;
          left: 9px;
          content: ' ';
          width: 21px;
          height: 17px;
          background-image: url("../../img/icon-frame.png");
          background-repeat: no-repeat;
          background-size: cover; }
        .advantages .advantages-list .advantages-item .advantages-headline-block .icon-line::after {
          position: absolute;
          top: 13px;
          left: 12px;
          content: ' ';
          width: 16px;
          height: 16px;
          background-image: url("../../img/icon-line.png");
          background-repeat: no-repeat;
          background-size: cover; }
        .advantages .advantages-list .advantages-item .advantages-headline-block .icon-air::after {
          position: absolute;
          top: 10px;
          left: 9px;
          content: ' ';
          width: 26px;
          height: 25px;
          background-image: url("../../img/icon-air.png");
          background-repeat: no-repeat;
          background-size: cover; }
        .advantages .advantages-list .advantages-item .advantages-headline-block .advantages-headline {
          display: inline-block;
          color: #000000;
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase; }
      .advantages .advantages-list .advantages-item .advantages-description {
        margin-bottom: 30px;
        font-size: 13px; }
      .advantages .advantages-list .advantages-item .advantages-link {
        color: #2aacc8; }
        .advantages .advantages-list .advantages-item .advantages-link .fa-angle-right {
          margin-right: 8px;
          color: #000000; }

.info {
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636; }
  .info .works {
    padding-top: 20px;
    padding-bottom: 40px; }
    .info .works .works-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
