// USER VARIABLES SECTION

$accent: #66a55f // Accent Color
$fontsize: 14px // Body Font Size
$textcolor: #898989 // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$ptsans: PT Sans, sans-serif // PT Sans Font Family
$playball: Playball, cursive // Playball Font Family
$roboto: Roboto, sans-serif // Playball Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 50px
$gutter: $grid-gutter-width

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
@import 'node_modules/owl.carousel/src/scss/owl.carousel.scss' // Owl-carousel
@import 'node_modules/owl.carousel/src/scss/owl.theme.default.scss' // Theme owl-carousel
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2')

@include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2')
@include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2')
@include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2')
@include font('Roboto', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2')
@include font('PT Sans', normal, 400, '../fonts/PTSans-Regular.ttf')
@include font('PT Sans', bold, 700, '../fonts/PTSans-Bold.ttf')
@include font('Playball', normal, 400, '../fonts/Playball-Regular.ttf')

// GENERAL DOCUMENT STYLES

::placeholder
	line-height: 18px
	color: #dddddd

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus
		box-shadow: 0 5px 32px rgba(103,122,141,.17)
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $ptsans
	font-size: $fontsize
	min-width: 320px
	position: relative
	line-height: 1.6
	overflow-x: hidden
	color: $textcolor
