@import config

// // CUSTOM USER STYLES & IMPORTS

a
    color: #604848
    text-decoration: none
ul,
li
    list-style-type: none
    padding: 0
    margin: 0

img
    height: auto
    max-width: 100%


//Общие стили для цены

.price-discount
    &:focus
        text-decoration: line-through
        font-size: 12px

//Общие стили для активной ссылки

.active-link
    color: #7ca977

//Общие стили для заголовков//

.headline-section
    position: relative
    margin: 40px 0
    text-align: center
    text-transform: uppercase
    font-size: 44px
    // &::before
    //     content: ' '
    //     position: absolute
    //     bottom: 0
    //     left: 470px
    //     width: 180px
    //     height: 1px
    //     border-bottom: 1px solid #d7d7d7
    .headline-green
        color: #66a55f
    .headline-grey
        color: #604848

//Общие стили для карточки товаров//

.catalog-item
    position: relative
    display: inline-block
    width: 270px
    margin-bottom: 20px
    font-size: 16px
    line-height: 20px
    font-weight: bold
    text-align: center
    background-color: #f5f5f5
    &:hover
        .actions
            display: block 
    .flag
        &::before
            content: 'SALE!'
            position: absolute
            top: 0
            right: 0
            padding: 10px 15px 10px 15px
            background-color: #ed1c24
            color: #ffffff
    .actions
        display: none
        position: absolute
        top: 0
        left: 0
        width: 270px
        height: 270px
        padding: 40px 0
        background: rgba(255, 255, 255, 0.7)
        z-index: 10
    .actions,
    .catalog-item_content
        .product_title,
        .product_price,
        .product-rating_stars,
        .product_btn
            display: block
        .product_title
            font-size: 24px
            line-height: 28px
            padding-top: 20px
            padding-bottom: 10px
            &:hover
                color: #8fb15d
                text-decoration: none
        .product_price
            font-size: 26px
            color: #66a55f
            font-weight: 700
            line-height: 28px
        .product-rating_stars
            margin-top: 15px
            .fa-star
                color: #66a55f
        .product_btn
            background-color: #8fb15d
            font-size: 16px
            font-weight: 700
            line-height: 18px
            padding: 10px 0
            text-transform: uppercase
            color: #ffffff
            margin-top: 15px
            margin-left: auto
            margin-right: auto
            width: 150px
            &:hover
                color: #ffffff
                text-decoration: none
                background-color: #66a55f
            .fa-shopping-cart
                font-size: 12px
                .image
                    width: 270px
                    height: 270px
                    img
                        max-width: 100%
    .catalog-item_content
        height: 100%
        background-color: #ffffff

//Общие стили для стрелок навигации слайдера//

.owl-carousel 
    .owl-nav 
        margin: 0
        button.owl-prev,
        button.owl-next
            position: absolute
            top: 50%
            width: 54px
            height: 54px
            background-color: #ffffff
            border-radius: 0
            font-size: 25px
            color: #a9a9a9
            &:hover
                background-color: #7ca977
        button.owl-prev
            left: 0
            right: auto
        button.owl-next
            right: 0
            left: auto

//Общие стили для точек навигации слайдера//

.owl-theme
    .owl-dots
        width: 100%
        text-align: center
        margin-top: 60px
        .owl-dot
            span
                width: 10px
                height: 10px
                background-color: #898989
                border-radius: 10em
                display: inline-block
                margin: 7px
        .owl-dot.active 
            span
                background-color: #66a558
        .owl-dot
            &:hover 
                span
                    background-color: #66a558

//Шапка ссылки//

.site-header
    border-top: 6px solid #7ca877
    padding-bottom: 5px
.top_links
    padding: 10px
    a
        font-size: 13px
        line-height: 20px
        margin: 2px 19px 0px 0px
        &:hover
            color: $accent
            text-decoration: none

// Шапка контакты
    
.header-area-bottom
    padding-bottom: 20px
    border-bottom: 1px solid #dddddd

.phone-block
    display: flex
.adress-block
    display: flex
.phone_text
    display: flex
    flex-direction: column
.fa-phone-alt,
.fa-map
    font-size: 18px
    color: #7ca877
    margin-right: 9px
.text-phone
    color: #6b6b6b
    font-size: 16px
.phone-number
    color: #606048
    font-size: 18px
    font-weight: 700
    &:hover
        color: #7ca877
        text-decoration: none
.adress-block
    color: #6b6b6b
    font-size: 16px
    line-height: 18px
    padding-left: 12px

.link_cart,
.link_lock
    background-color: #7ca877
    border-radius: 50px
    &:hover
        background-color: #604848
.link_cart
    position: relative
    padding-top: 25px
    padding-bottom: 11px
    padding-left: 7px
    padding-right: 6px
    margin-right: 9px
.count
    position: absolute
    top: 0
    right: 0
    background-color: #feb832
    color: #ffffff
    text-align: center
    font-size: 12px
    font-weight: 700
    width: 19px
    height: 19px
    border-radius: 50px
.link_lock
    padding-top: 25px
    padding-bottom: 11px
    padding-left: 14px
    padding-right: 14px
.fa-shopping-cart,
.fa-lock
    font-size: 30px
    color: #ffffff
.fa-shopping-cart,
.fa-wrench
    margin-right: 7px
    line-height: 12px

//Навигация//

.navigation
    padding: 25px 0
.menu-list
    display: flex
    .menu-item
        margin-right: 25px
        a
            font-weight: 800
            font-size: 18px
            text-transform: uppercase
            &:hover
                color: #7ca877
    .fa-angle-down
        margin-left: 10px

.topmenu
    position: relative
    &:hover
        display: block
    .submenu
        background-color: #ffffff
        visibility: hidden
        opacity: 0
        position: absolute
        top: 100%
        left: 0
        right: auto
        z-index: 10
.menu-nav
    padding: 20px
    ul
        li
            &:hover
                .submenu
                    translition: 0.3s
                    visibility: visible
                    opacity: 1
.submenu
    min-width: 230px
    border: 5px solid #7ca877
    box-shadow: 2px 2px 5px rgba(0,0,0,.2)
    .submenu-item
        padding: 10px
        .submenu-link
            text-transform: none
            font-weight: 400
            font-size: 16px
            line-height: 20px
            color: #7ca877
            border-bottom: 1 px solid #f0f0f0
            &:hover
                color: #604848


.subscribe-form
    width: 462px

.form-search
    position: relative
    padding-top: 15px
    input[type="search"]
        width: 360px
        padding: 10px 0px 10px 4px
        border: 1px solid #dddddd
    button
        background-color: transparent
        border: none
        width: 42px
        height: 43px
        position: absolute
        top: 10px
        right: 0
        cursor: pointer

    .fa-search
        color: #7ca877
        font-size: 20px
        &:hover
            color: #604848

//Слайдер//
            
.slider
    padding: 0
    .slider-item
        background-size: cover
        background-repeat: no-repeat
        position: relative
        min-height: 700px
        .slider-text
            color: #ffffff
            text-align: center
            .slider-headline
                font-family: $playball
                font-size: 118px
                font-weight: 400
                line-height: 120px
                padding-top: 160px
            .slider-description
                font-size: 17px
                font-weight: 300
                line-height: 19px
                margin-top: 3px
                
    .slider-1
        background-image: url('../images/src/slider-1.jpg')
    .slider-2
        background-image: url('../images/src/slider-2.jpg')
    .slider-3
        background-image: url('../images/src/slider-3.jpg')


//О нас: главная страница//

.about
    margin-top: 30px
    display: flex
    justify-content: space-between
    &-item
        text-align: center
        padding: 15px
        align-items: flex-start
    &-tittle
        color: #604848
        font-size: 24px
        font-weight: 700
        line-height: 26px
        margin: 15px 0

//Блог карусель//

.blog
    &-block
        margin-top: 80px
        padding: 60px 0 100px 0
        background-color: #f6f6ee
    &-item
        padding: 0 5px 0 5px
        width: 285px
    &-title
        font-size: 20px
        font-weight: 700
        line-height: 25px
        color: #604848
    &-post
            margin-top: 10px
            line-height: 18px
    .post-meta
        color: #898989
        font-size: 14px
        line-height: 16px
        margin: 0 0 10px 0
    .owl-carousel 
    .owl-nav 
        margin: 0
        button.owl-prev,
        button.owl-next
            position: absolute
            top: -100px
            width: 54px
            height: 54px
            background-color: transparent
            border-radius: 0
            font-size: 25px
            color: #feb832
            &:hover
                background-color: transparent
                color: #7ca977

//Footer//

.site-footer
    .subscribe-block
        padding: 25px
        background-color: #66a55f
        .subscribe
            .fa-paper-plane
                font-size: 55px
                color: #ffffff
            .subscribe-text
                color: #ffffff
                line-height: 24px
                font-size: 22px
.subscribe-btn
    background-color: #f2d48b
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    color: #ffffff
    padding: 15px 38px 15px 43px
    &:hover
        background-color: #8fb15d
        color: #ffffff
        text-decoration: none
.subscribe-form__mail
    padding: 13px 0 13px 15px
    background-color: #569450
    font-size: 16px
    letter-spacing: 0.4
    border: 0
    margin-right: -3px

//Навигация: footer//

.nav-block
    margin-top: 54px
.footer-list
    .footer-item
        padding: 15px
        .widget-name
            color: #604848
            font-family: $playball
            font-size: 34px
            line-height: 34px
            margin-bottom: 11px
        .widget-text
            margin-top: 20px
            color: #898989
            font-size: 14px
            line-height: 18px
        .phone-block
            display: block
            margin-bottom: 11px
        .map-block
            position: absolute
            background-repeat: no-repeat
            background-size: cover
            width: 200px
            height: 100px
            filter: blur(1.5px)
    .nav-link_footer
        font-size: 16px
        line-height: 30px
        color: #66a55f
        &:hover
            color: #604848
            text-decoration: none

.copyright
    margin-top: 41px
    background-color: #f6f6ee
    .copyright-text
        padding-top: 10px
        font-size: 14px
        line-height: 16px
        color: #604848
        .copyright-link
            padding: 0 3px
            color: #66a55f
            text-transform: uppercase
            &:hover
                color: #604848
                text-decoration: none

// ABOUT US

// Breadcrums

.breadcrumbs
    background-image: url('../../images/src/slider-1.jpg')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    padding: 10px
    &-text
        color: #ffffff
        font-family: $playball
        font-size: 36px
        line-height: 68px
        font-weight: 400
        text-align: center

// Main

.site-content
    margin-top: 30px
    margin-bottom: 40px
.headline-section,
.about-page_title
    color: #604848
.about-page_item
    .headline-section
        &::before
            left: 90px
    .about-page_title,
    .about-page_year
        font-size: 20px
        font-weight: 700
        line-height: 25px
        margin-top: 20px
        margin-bottom: 8px
    .mission-list
        color: #66a55f
        font-size: 16px
        line-height: 14px
        margin-bottom: 16px

.clearfix
    content: ""
    display: table
    clear: both

.about-page_history
    float: right
    width: 82.467%

.history-item
    .about-page_year
        float: left
        color: #604848
        width: 17.439%
        vertical-align: top
        margin-bottom: 35px
        margin-top: 0

// SLIDER-TEAM

.team-block
    background-color: #f6f6ee
    margin-top: 78px
    padding-top: 27px
    padding-bottom: 95px
.slider-team
    .team-item
        text-align: center
        margin: 0 10px
        .team-comment
            padding-top: 14px
        .team-name
            display: block
            width: 100%
            color: #000000
            font-size: 24px
            line-height: 26px
            margin-top: 21px
            padding: 8px
            border-bottom: 1px solid #d7d7d7

// 


.advantages,
.testimonials
    .headline-section
        color: #54595f
        &::before
            left: 180px
.advantages
    .advantages-list
        display: flex
        flex-wrap: wrap
        .advantages-item
            float: left
            width: 50%
            text-align: center
            padding: 10px
            .fa-calculator,
            .fa-thumbs-up,
            .fa-star,
            .fa-tag
                color: #66a55f
                font-size: 50px
            .advantages-item_title
                color: #604848
                font-size: 24px
                font-weight: 700
                line-height: 26px
                margin-bottom: 10px
                margin-top: 15px
.testimonials
    .testimonials-block
        display: flex
        justify-content: space-between
        .testimonials-img,
        .testimonials-description
            padding: 10px
        .testimonials-description
            .testimonials-text
                font-weight: 400
                font-size: 14px
                line-height: 18px
                margin-bottom: 20px
            .testimonials-name
                color: #604848
                font-size: 20px
                font-weight: 700
                line-height: 25px

// Фильтр

.filter-range
    margin-top: 40px
    margin-bottom: 20px

.range-controls
    position: relative
    .scale
        height: 5px
        background-color: #7ca877
        border-radius: 2px
        .bar
            width: 80%
            height: 5px
            background: #4b301f
            border-radius: 2px
    .range-toggle
        position: absolute
        top: -9px
        width: 4px
        height: 4px
        background: #ababab
        border: 8px solid #ffffff
        border-radius: 50%
        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2)
        cursor: pointer
        &:hover
            background: #1c4f80
    .range-toggle-min
        left: 0
    .range-toggle-max
        left: 80%

// КАТАЛОГ

// Навигация

.paginator 
    width: 280px
    margin: 30px auto
    padding: 10px
    white-space: nowrap
    a
        display: inline-block
        width: 30px
        height: 30px
        font-weight: 400
        line-height: 30px
        vertical-align: middle
        text-align: center
        color: #000000
        text-decoration: none
        background-color: #ffffff
        border: 1px solid #000000
        &:hover
            color: #ffffff
            background-color: #7ca877
    .next
        width: 50px
    .current 
        color: #ffffff
        background-color: #7ca877

// 
.shop-block
    margin-top: 40px

// Сортировка

.form-sorting
    margin-bottom: 50px
    .orderby
        font-size: 14px
        color: #000000
        background-color: #ffffff
        border: 1px solid #898989
        padding: 8px 12px

.filter
    .headline-section
        text-align: left
        margin: 0
        line-height: 35px

.filter-checkbox
    margin-top: 50px
    margin-bottom: 20px
.filter-option
    label
        font-size: 14px
        margin-left: 5px
        color: #604848
    .filter-input
        background-color: #ffffff
        width: 18px
        height: 18px
        border: 1px solid #604848

// 

.product-list
    margin-top: 60px
    .product-item
        display: flex
    .product-item_text
        padding-left: 20px
        padding-bottom: 20px
        display: flex
        flex-direction: column
        .product-item_title
            color: #604848
            font-size: 14px
            font-weight: 700
            line-height: 18px
            margin: 6px 0
        .product-rating_stars
            .fa-star
                color: #7ca877
                font-size: 10px
        
// Посты

.site-main
    margin: 30px 0

.posts-list
    .post
        margin-top: 50px
        padding-top: 40px
        border-top: 1px solid #ebeced

.entry-header
    .entry-title
        margin-bottom: 18px
        font-size: 28px
        line-height: 1.4
        color: #604848
        font-weight: 400
        a
            &:hover
                color: #604848
                text-decoration: none
    .entry-meta
        margin-bottom: 28px
        span
            padding: 0 8px
        a
            &:hover
                color: #66a55f
                text-decoration: none

.post-thumbnail
    margin-bottom: 26px

.entry-content
    margin-bottom: 18px
    font-size: 18px

.entry-footer
    .tags-link
        a
            &:hover
                color: #66a55f
                text-decoration: none
    .btn-post
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 28px
        .comments-btn
            color: #a1a2a4
            padding: 10px 12px
            font-size: 11px
            line-height: 1.2
            background-color: #f1f4f6
            border-radius: 4px
            &:hover
                background-color: #8fb15d
                color: #ffffff
                text-decoration: none
            .fa-comment
                margin-right: 6px
                font-size: 14px
        .more-btn
            background-color: #8fb15d
            color: #ffffff
            letter-spacing: 1px
            line-height: 1
            font-size: 11px
            font-weight: 900
            padding: 12px 20px
            text-transform: uppercase
            border-radius: 4px
            &:hover
                background-color: #b5d783
                color: #ffffff
                text-decoration: none




.search-form__field[type="search"]
    width: 323px
    padding: 8px 12px
    border: 1px solid #ebeced
    background-color: #ffffff
    border-radius: 4px

.search-btn
    background-color: #8fb15d
    color: #ffffff
    letter-spacing: 1px
    font-size: 13px
    font-weight: 900
    border-radius: 4px
    border: none
    padding: 8px 11px
    margin-left: 10px

.widget-title
    font-size: 20px
    text-transform: uppercase
    margin-bottom: 25px
    line-height: 1.5
    color: #604848
    font-weight: 400

.recent_entries-item
    margin-bottom: 20px
    a
        &:hover
            text-decoration: none
            color: #604848

.recentcomments
    display: flex
    flex-direction: column
    color: #a1a2a4
    margin-bottom: 20px
    .comment-author-link
        a
            color: #a1a2a4
            &:hover
                color: #604848
    a
        &:hover
            text-decoration: none
            color: #604848

.archives-item,
.categories-item
    margin-bottom: 4px

.archives-item,
.categories-item,
.meta-item
    a
        &:hover
            color: #66a55f
            text-decoration: none

.widget
    width: 100%
    margin-top: 50px
    padding-top: 40px
    border-top: 1px solid #ebeced


.contact-block
    margin-top: 20px

.contact-title
    color: #604848
    font-size: 26px
    line-height: 28px
    font-weight: 400

.contact-item
    display: flex
    align-items: flex-start
    .fa
        &-map-marker-alt,
        &-phone-alt,
        &-file-alt,
        &-envelope
            margin-top: 5px
            width: 15px
            color: #604848
            font-size: 12px
            font-weight: 900
            margin-right: 8px
    .contact-link
        &:hover
            text-decoration: none
            color: #7ca877
    .contact-item_text
        font-weight: 700
        line-height: 18px
        color: #898989
        margin-bottom: 0

.form-contacts
    input[type="text"],
    textarea
        background-color: #f0f0f0
        font-size: 16px
        line-height: 23px
        color: #898989
        padding: 8px 28.5px
        border: 1px solid #ebeced
    textarea
        width: 100%
        margin-bottom: 10px
    .btn-send
        input[type="submit"]
            font-size: 16px
            line-height: 24px
            font-weight: 700
            background-color: #acd373
            color: #ffffff
            padding: 12px 36px 12px 36px
            border-radius: 2px
            border: none
            text-transform: uppercase
            &:hover
                background-color: #7ca877