* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  color: #303030;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

.center {
  width: 1720px;
  margin: 0 auto; }

.site-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9a9a9a;
  padding: 35px 0;
  width: 1170px;
  margin: 0 auto; }
  .site-navigation .logo-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .site-navigation .logo-block .logo {
      margin-right: 30px; }
  .site-navigation .phone-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px; }
    .site-navigation .phone-block .fa-phone {
      margin-right: 12px;
      margin-bottom: 2px;
      color: #7eb252;
      font-size: 13px; }
    .site-navigation .phone-block span {
      margin-bottom: 9px;
      color: #303030;
      font-weight: 500;
      font-size: 20px; }

.header-promo {
  background-image: url(../img/bgc.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
