@media screen and (max-width: 768px) {
  .site-navigation {
    width: 724px;
    margin: 0 auto; }
  .header-promo {
    width: 768px;
    margin: 0;
    margin-bottom: 296px; }
    .header-promo::before {
      left: 22px; }
    .header-promo .promo-block {
      left: 390px; }
      .header-promo .promo-block .promo-headline {
        font-size: 50px; }
      .header-promo .promo-block .promo-description {
        font-size: 16px; }
    .header-promo .form-block {
      left: 174px; }
  .factoids-block {
    width: 538px;
    margin: 0 auto; }
  .problems {
    width: 100%;
    position: relative; }
    .problems .problems-headline {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px;
      text-align: center; }
    .problems .problems-bgc {
      width: 768px; }
      .problems .problems-bgc .problems-flex {
        width: 650px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .problems .problems-bgc .problems-flex .problems-block {
          padding-bottom: 0; }
        .problems .problems-bgc .problems-flex .reviews-block {
          width: 100%;
          background-color: #a4c58c; }
          .problems .problems-bgc .problems-flex .reviews-block img {
            top: 30px;
            left: 70px; }
          .problems .problems-bgc .problems-flex .reviews-block .reviews-block-item {
            top: 560px;
            left: 93px; }
    .problems .btn-block {
      position: absolute;
      bottom: -840px;
      left: 128px;
      width: 500px; }
      .problems .btn-block .green-btn {
        float: left; }
  .reasons {
    width: 100%;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .reasons .reasons-left {
      width: 100%; }
      .reasons .reasons-left img {
        width: 100%;
        height: 50%; }
      .reasons .reasons-left .reasons-factoids {
        left: 65px;
        z-index: 999; }
    .reasons .reasons-block {
      margin-top: 698px;
      margin-left: 0; }
      .reasons .reasons-block .reasons-headline,
      .reasons .reasons-block .reasons-name {
        text-align: center; }
      .reasons .reasons-block .reasons-list {
        width: 538px;
        margin: 0 auto; }
  .history {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .history .history-left,
    .history .history-right {
      width: 100%;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 250px;
          -ms-flex: 1 1 250px;
              flex: 1 1 250px; }
    .history .history-left .history-headline {
      padding-left: 0;
      text-align: center; }
    .history .history-left .history-left-block {
      padding-left: 22px;
      padding-bottom: 100px; }
    .history .history-right {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
      .history .history-right .history-right-block {
        top: 500px;
        left: 385px; }
      .history .history-right .history-img {
        position: absolute;
        top: -25px;
        left: 22px;
        z-index: 999; }
        .history .history-right .history-img img {
          margin-top: 420px;
          width: 352px;
          height: 420px; }
  .cite {
    width: 100%;
    margin: 0 auto;
    margin-top: 700px; }
    .cite .cite-block {
      width: 80%; } }
