@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }
  fieldset legend {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px; }

a {
  text-decoration: none;
  color: #1a212f; }

p {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4 {
  font-family: 'Rubik', sans-serif;
  margin: 0; }

h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 70px; }

body {
  background-color: #fffefd;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 19px;
  position: relative;
  color: #1a212f;
  width: 100%;
  height: 100%; }

header {
  position: relative; }

.center {
  margin: 0 auto;
  width: 1170px; }

.wrapper {
  margin: 0 auto;
  width: 1030px; }

.btn-orange {
  cursor: pointer;
  display: block;
  position: relative;
  width: 190px;
  background-color: #ff7236;
  border: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  padding: 18px 0;
  padding-left: 30px;
  border-radius: 30px; }
  .btn-orange::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 8px;
    background-image: url("../img/paw-btn-white.png");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px; }

.btn-white {
  display: block;
  position: relative;
  width: 190px;
  background-color: #ffffff;
  padding: 18px 0;
  padding-left: 30px;
  text-align: left;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px; }
  .btn-white:hover {
    background-color: #ff7236;
    color: #ffffff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .btn-white::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 8px;
    background-image: url("../img/paw-btn.png");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px; }

.modal-close,
.modal-closes {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 16px;
  height: 16px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent; }
  .modal-close::before, .modal-close::after,
  .modal-closes::before,
  .modal-closes::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 3px;
    background-color: #1A212F; }
  .modal-close::before,
  .modal-closes::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .modal-close::after,
  .modal-closes::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.site-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fffefd;
  padding: 12px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .site-navigation .nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .site-navigation .nav-list .nav-item {
      font-weight: 700; }
      .site-navigation .nav-list .nav-item:not(:last-child) {
        margin-right: 30px; }
      .site-navigation .nav-list .nav-item .nav-link:hover {
        color: #ff7236;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }

.header-promo {
  position: relative; }
  .header-promo .header-promo-block {
    position: absolute;
    top: 30%;
    left: 5%; }
    .header-promo .header-promo-block .header-promo-city {
      font-size: 14px;
      line-height: 17px;
      font-family: 'Lato', sans-serif; }
    .header-promo .header-promo-block .header-headline {
      font-size: 62px;
      line-height: 73px; }
    .header-promo .header-promo-block .header-description {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 40px; }

.advantagers {
  position: relative;
  width: 100%;
  padding-top: 138px;
  margin-bottom: 140px; }
  .advantagers .advantagers-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .advantagers .advantagers-list .advantagers-item {
      background-color: #ffffff;
      width: 25%;
      margin-bottom: 20px;
      padding: 30px;
      border-radius: 6px;
      -webkit-box-shadow: 0 0 25px -12px #d0d0d0;
              box-shadow: 0 0 25px -12px #d0d0d0; }
      .advantagers .advantagers-list .advantagers-item:not(:last-child), .advantagers .advantagers-list .advantagers-item:not(:nth-child(3)) {
        margin-right: 30px; }
      .advantagers .advantagers-list .advantagers-item .advantagers-icon {
        margin-bottom: 35px; }
      .advantagers .advantagers-list .advantagers-item .advantagers-headline-block {
        font-size: 22px;
        line-height: 140%;
        font-weight: 500; }
      .advantagers .advantagers-list .advantagers-item .advantagers-description {
        font-size: 16px;
        line-height: 140%;
        font-family: 'Lato', sans-serif; }

.rooms .rooms-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .rooms .rooms-block .rooms-img {
    margin-bottom: 55px; }

.rooms .rooms-2,
.rooms .rooms-3 {
  display: none; }

.rooms .rooms-info {
  position: absolute;
  top: 45px;
  bottom: 30px;
  right: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 25px -12px #d0d0d0;
          box-shadow: 0 0 25px -12px #d0d0d0;
  border-radius: 7px;
  width: 500px;
  height: 284px;
  padding-bottom: 30px; }
  .rooms .rooms-info .btn-orange {
    margin-left: 100px; }
  .rooms .rooms-info .rooms-headline-block {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-top: 40px; }
  .rooms .rooms-info .rooms-list {
    list-style: none;
    margin-bottom: 30px;
    margin-left: 100px; }
    .rooms .rooms-info .rooms-list .rooms-item {
      font-size: 16px;
      margin-bottom: 20px; }
      .rooms .rooms-info .rooms-list .rooms-item::before {
        content: '•';
        color: #ff7236;
        padding-right: 8px; }

.reviews {
  margin-bottom: 55px; }
  .reviews .reviews-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .reviews .reviews-item {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-basis: 470px;
        -ms-flex-preferred-size: 470px;
            flex-basis: 470px;
    -webkit-box-shadow: 0 0 25px -12px #d0d0d0;
            box-shadow: 0 0 25px -12px #d0d0d0;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 38px; }
    .reviews .reviews-item:not(:last-child) {
      margin-right: 30px; }
    .reviews .reviews-item .reviews-description {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 25px; }
    .reviews .reviews-item .block-bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 14px;
      line-height: 17px;
      color: #848484; }

.footer-info-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fac663; }
  .footer-info-block .footer-info {
    width: 25%;
    padding-left: 198px;
    padding-right: 143px; }
  .footer-info-block .footer-headline {
    padding-top: 70px;
    margin-bottom: 50px; }
  .footer-info-block .footer-info-list {
    font-size: 16px;
    padding-bottom: 70px; }
    .footer-info-block .footer-info-list span {
      font-weight: 700; }
    .footer-info-block .footer-info-list .footer-description {
      margin-top: 15px;
      margin-bottom: 35px; }
    .footer-info-block .footer-info-list .footer-info-item .footer-social-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .footer-info-block .footer-info-list .footer-info-item .footer-social-list .footer-social-item {
        margin-right: 15px; }
        .footer-info-block .footer-info-list .footer-info-item .footer-social-list .footer-social-item .social-btn {
          display: block;
          color: #ffffff;
          background-color: #1a212f;
          border-radius: 15px;
          width: 25px;
          margin-top: 15px;
          padding-top: 3px;
          padding-bottom: 3px;
          text-align: center; }

.copyright-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #8F8F8F;
  font-size: 12px;
  line-height: 14px; }

.footer-copyright {
  border-top: 1px solid #EFEFEF;
  padding: 20px 0; }

.catalog {
  margin-top: 70px; }
  .catalog .catalog-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px; }
    .catalog .catalog-top .catalog-headline {
      font-size: 36px; }
    .catalog .catalog-top .btn-sort {
      display: block;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
              box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
      border: 0;
      border-radius: 25px;
      width: 174px;
      padding: 12px 0;
      font-size: 14px;
      text-align: center;
      line-height: 17px; }
      .catalog .catalog-top .btn-sort .fa-long-arrow-alt-up {
        margin-right: 5px; }
      .catalog .catalog-top .btn-sort .fa-chevron-down {
        margin-left: 30px; }
  .catalog .filter-block {
    grid-column: 1/2;
    grid-row: 1/2; }
    .catalog .filter-block .btn-filter {
      display: block;
      width: 185px;
      padding-top: 15px;
      padding-bottom: 17px;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      border: 2px solid #FAC663;
      border-radius: 25px; }
    .catalog .filter-block .filter-price .price-controls input[type="text"] {
      border: 1px solid #E1E1E1;
      width: 100px;
      height: 24px;
      margin-right: 10px;
      margin-bottom: 35px;
      font-size: 14px;
      line-height: 17px;
      padding-left: 5px; }
    .catalog .filter-block .filter-area {
      margin-bottom: 40px; }
    .catalog .filter-block .filter-content {
      margin-bottom: 42px; }

.filter-option input:checked + label:before {
  content: url("../../img/check.svg"); }

.filter-option label {
  color: #000;
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle; }
  .filter-option label::before {
    content: " ";
    color: #000;
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    -webkit-border-image: initial;
         -o-border-image: initial;
            border-image: initial;
    vertical-align: middle; }

.filter-option input[type="checkbox"] {
  display: none; }

.rooms-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-left: 10px; }

.catalog-rooms-block {
  display: grid;
  grid-template-columns: 270px repeat(3, 270px);
  grid-template-rows: repeat(2, 453px);
  grid-gap: 30px; }
  .catalog-rooms-block .catalog-rooms {
    grid-gap: 30px;
    background-color: #ffffff;
    border: 1px solid #E1E1E1;
    -webkit-box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
            box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 6px; }
  .catalog-rooms-block .rooms-1 {
    grid-column: 2;
    grid-row: 1; }
  .catalog-rooms-block .rooms-2 {
    grid-column: 3;
    grid-row: 1; }
  .catalog-rooms-block .rooms-3 {
    grid-column: 4;
    grid-row: 1; }
  .catalog-rooms-block .rooms-4 {
    grid-column: 2;
    grid-row: 2; }
  .catalog-rooms-block .rooms-5 {
    grid-column: 3;
    grid-row: 2; }
  .catalog-rooms-block .rooms-6 {
    grid-column: 4;
    grid-row: 2; }
  .catalog-rooms-block .rooms-description-list {
    padding-left: 20px;
    font-size: 14px;
    line-height: 17px; }
    .catalog-rooms-block .rooms-description-list .rooms-description-item {
      margin-bottom: 15px; }
      .catalog-rooms-block .rooms-description-list .rooms-description-item .pin-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .catalog-rooms-block .rooms-description-list .rooms-description-item .pin-flex .catalog-pin-list {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin-left: 12px; }
          .catalog-rooms-block .rooms-description-list .rooms-description-item .pin-flex .catalog-pin-list .catalog-pin-item {
            position: relative; }
            .catalog-rooms-block .rooms-description-list .rooms-description-item .pin-flex .catalog-pin-list .catalog-pin-item:not(:last-child) {
              margin-right: 8px; }
          .catalog-rooms-block .rooms-description-list .rooms-description-item .pin-flex .catalog-pin-list .pin-tooltip1:hover::after {
            content: url("../../img/tooltip1.png");
            position: absolute;
            bottom: 10px;
            left: -40px; }
          .catalog-rooms-block .rooms-description-list .rooms-description-item .pin-flex .catalog-pin-list .pin-tooltip2:hover::after {
            content: url("../../img/tooltip2.png");
            position: absolute;
            bottom: 10px;
            right: -45px; }
    .catalog-rooms-block .rooms-description-list .btn-orange {
      margin-bottom: 25px; }
  .catalog-rooms-block .catalog-rooms-headline {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 0;
    -moz-text-align-last: left;
         text-align-last: left; }

.offer-bgc {
  position: relative;
  margin: 140px 0;
  background-image: url("../img/offer-bgc.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 379px; }
  .offer-bgc .offer-promo {
    position: absolute;
    left: 270px;
    top: 78px; }
    .offer-bgc .offer-promo .offer-long,
    .offer-bgc .offer-promo .offer-short {
      font-family: 'Rubik', sans-serif;
      font-weight: 800; }
    .offer-bgc .offer-promo .offer-long {
      font-size: 36px;
      line-height: 43px; }
    .offer-bgc .offer-promo .offer-short {
      font-size: 56px;
      line-height: 66px;
      margin-bottom: 25px; }
    .offer-bgc .offer-promo .offer-description {
      margin-bottom: 35px;
      font-size: 16px; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: tnanslateY(-10px);
            transform: tnanslateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: tnanslateY(-10px);
            transform: tnanslateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

.modal {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
          box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25); }

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s; }

.modal-booking {
  left: 50%;
  right: 50%;
  top: 146px;
  width: 570px;
  margin-left: -398px;
  padding: 70px;
  background-color: #FFFEFD;
  border-radius: 10px; }
  .modal-booking .modal-headline {
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    text-align: center; }
  .modal-booking .booking-form {
    width: 430px;
    margin: 0 auto; }
    .modal-booking .booking-form input[type="text"],
    .modal-booking .booking-form input[type="phone"],
    .modal-booking .booking-form input[type="email"] {
      color: #1a212f;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 430px;
      padding: 20px 30px;
      border-radius: 25px;
      border: 1px solid #D7D7D7;
      margin-bottom: 20px; }
    .modal-booking .booking-form .btn-orange {
      cursor: pointer;
      width: 230px;
      border: 0;
      margin: 0 auto;
      margin-top: 50px; }

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s; }

.feedback {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
          box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25); }

.modal-open {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s; }

.modal-feedback {
  left: 50%;
  right: 50%;
  top: 200px;
  width: 570px;
  margin-left: -330px;
  padding: 70px 0;
  background-color: #FFFEFD;
  border-radius: 10px;
  text-align: center; }
  .modal-feedback .modal-headline {
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    margin-bottom: 25px; }
  .modal-feedback .btn-orange {
    width: 122px;
    margin: 0 auto;
    margin-top: 50px; }

.demo-rooms {
  display: grid;
  grid-template-columns: 70px 500px 305px;
  grid-template-rows: repeat(3, 112px);
  grid-gap: 30px;
  padding-top: 70px;
  padding-bottom: 140px; }
  .demo-rooms .btn-orange {
    width: 206px; }
  .demo-rooms .rooms-item1,
  .demo-rooms .rooms-item2,
  .demo-rooms .rooms-item3 {
    opacity: 0.3; }
    .demo-rooms .rooms-item1:hover,
    .demo-rooms .rooms-item2:hover,
    .demo-rooms .rooms-item3:hover {
      opacity: 1; }
  .demo-rooms .rooms-item1 {
    grid-column: 1;
    grid-row: 1; }
  .demo-rooms .rooms-item2 {
    grid-column: 1;
    grid-row: 2; }
  .demo-rooms .rooms-item3 {
    grid-column: 1;
    grid-row: 3; }
  .demo-rooms .rooms-item4 {
    grid-column: 2;
    grid-row: 1/4; }
  .demo-rooms .rooms-item5 {
    grid-column: 3;
    grid-row: 1/4;
    padding-left: 40px; }
    .demo-rooms .rooms-item5 .rooms-item5-headline {
      font-size: 36px;
      line-height: 27px;
      text-align: left;
      margin-bottom: 40px;
      padding: 0; }
    .demo-rooms .rooms-item5 .rooms-parameters-list .rooms-parameters-item {
      line-height: 19px; }
      .demo-rooms .rooms-item5 .rooms-parameters-list .rooms-parameters-item:nth-child(3) {
        margin-bottom: 21px; }
      .demo-rooms .rooms-item5 .rooms-parameters-list .rooms-parameters-item:nth-child(4) {
        margin-bottom: 32px; }
      .demo-rooms .rooms-item5 .rooms-parameters-list .rooms-parameters-item:nth-child(5) {
        margin-bottom: 30px; }
      .demo-rooms .rooms-item5 .rooms-parameters-list .rooms-parameters-item:not(:last-child) {
        margin-bottom: 20px; }

.rooms-parameters-comfort {
  position: relative; }
  .rooms-parameters-comfort .rooms-parameters-icon {
    position: relative;
    margin-bottom: 10px; }
    .rooms-parameters-comfort .rooms-parameters-icon .icon-parameters {
      padding-right: 8px; }
